<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML</title>
</head>
<body>
    <h1>Welcome</h1>
    <hr>
    <form action="result">
        enter date:<input type="text" name="date"><br>
      enter device:<input type="text" name="device"><br>
        enter metrics1:<input type="text" name="metrics1"><br>
        enter metrics2:<input type="text" name="metrics2"><br>
        enter metrics3:<input type="text" name="metrics3"><br>
        enter metrics4:<input type="text" name="metrics4"><br>
        enter metrics5:<input type="text" name="metrics5"><br>
        enter metrics6:<input type="text" name="metrics6"><br>
        enter metrics7:<input type="text" name="metrics7"><br>
        enter metrics8:<input type="text" name="metrics8"><br>
        enter metrics9:<input type="text" name="metrics9"><br>
      <input type="submit">
    </form>
</body>
</html>